flows/Assign_Primary_Business_Owner_for_Approval-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Field_Info</name>
        <label>Get Field Info</label>
        <locationX>716</locationX>
        <locationY>326</locationY>
        <actionName>GetDataOwnersList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>output_list</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCondition</name>
            <value>
                <elementReference>Object_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isFieldList</name>
            <value>
                <elementReference>isObject</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Field_Info_0</name>
        <label>Get Field Info</label>
        <locationX>1382</locationX>
        <locationY>449</locationY>
        <actionName>GetDataOwnersList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Valid_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCondition</name>
            <value>
                <elementReference>Field_Name_for_Business_Owner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isFieldList</name>
            <value>
                <elementReference>isObject</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>add_to_all_data</name>
        <label>add to all data</label>
        <locationX>949</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>allFieldInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>output_list</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>output_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment</name>
        <label>increment</label>
        <locationX>1484</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Id_or_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_counter</name>
        <label>reset counter</label>
        <locationX>1137</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Business_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Id</name>
        <label>set Id</label>
        <locationX>1749</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>BusinessOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Name</name>
        <label>set Name</label>
        <locationX>1595</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>BusinessOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Result</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Business_Owner</name>
        <label>Assign Business Owner</label>
        <locationX>1281</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Results_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_a_Primary_Business_Owner_Based_on_Secure_Fields</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Field_Info_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_or_Name</name>
        <label>Id or Name</label>
        <locationX>1748</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>set_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Id</targetReference>
            </connector>
            <label>Id</label>
        </rules>
    </decisions>
    <description>Review Objects and Fields and choose a Primary Business Owner to approve the Data Access Request and communicate data policies and procedures as needed.</description>
    <interviewLabel>Assign Primary Business Owner for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Assign Primary Business Owner for Approval</label>
    <loops>
        <name>output_list</name>
        <label>output list</label>
        <locationX>849</locationX>
        <locationY>326</locationY>
        <collectionReference>Get_Field_Info.outputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_to_all_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Valid_Result</name>
        <label>Valid Result</label>
        <locationX>1517</locationX>
        <locationY>336</locationY>
        <collectionReference>Get_Field_Info_0.outputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>increment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Results_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>973</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>test_Apex_0</targetReference>
        </connector>
        <fields>
            <name>NoneFound</name>
            <fieldText>&lt;p&gt;No fields were found with &lt;span style=&quot;color: rgb(86, 156, 214);&quot;&gt;SecurityClassification&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Return to the Previous Screen to try a different Object. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Proceed to Business Owner selection Next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Count</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>showOutputs</name>
            <fieldText>&lt;p&gt;Consider assigning a Business Owner to approve or reject the Data Access Request based on your business processes for one of the secure fields on this Object. Or Return to the Previous Screen to review Fields on another Object.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!allFieldInfo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Count</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results_0</name>
        <label>Results</label>
        <locationX>1456</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoBusinessOwnerAssigned</name>
            <fieldText>&lt;p&gt;No Business Owner located. Return to the Previous Screen to get the Business Owner from a field with &lt;span style=&quot;color: rgb(86, 156, 214);&quot;&gt;Security Configuration&lt;/span&gt; set.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If there is no need for Business Owner Approval, select Finish and complete the Approval or Rejection of this Data Access Request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BusinessOwnerId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>showOutputs_0</name>
            <fieldText>&lt;p&gt;Assigned Business Owner Group or User: {!Get_Field_Info_0.outputList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BusinessOwnerId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>00</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test_Apex</name>
        <label>test Apex</label>
        <locationX>716</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Field_Info</targetReference>
        </connector>
        <fields>
            <name>ObjectFieldNameInstructions</name>
            <fieldText>&lt;p&gt;Enter the API Name of an Object to review Sensitivity Levels set on that object&apos;s fields.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Object_Name</name>
            <dataType>String</dataType>
            <fieldText>Salesforce Object API Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test_Apex_0</name>
        <label>test Apex</label>
        <locationX>1132</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>reset_counter</targetReference>
        </connector>
        <fields>
            <name>Assign_a_Primary_Business_Owner_Based_on_Secure_Fields</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Assign a Primary Business Owner Based on Secure Fields</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObjectFieldNameInstructions_0</name>
            <fieldText>&lt;p&gt;If you check the above option, you&apos;ll be asked to enter the API Name of a Field using &lt;b&gt;Dot Notation&lt;/b&gt; (such as Account.Name). &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Business Owner of that field (if one has been previously set) will be notified to approve this Data Access Request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Name_for_Business_Owner</name>
            <dataType>String</dataType>
            <fieldText>Field Name for Primary Business Owner Approval</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Assign_a_Primary_Business_Owner_Based_on_Secure_Fields</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>590</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>test_Apex</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allFieldInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BusinessOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BusinessOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>isObject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
