flows/Data_Access_Request_Approval_Process-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Admin_Group_Found</name>
        <label>Admin Group Found</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Business_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Access_Administrator_Group.Outputs.AdminGroup</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Review_Data_Classification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Owner</name>
        <label>Business Owner</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>AdminApprovedStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Objects_and_Fields_Requested.Outputs.BusinessOwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Owner_Group_Approval_Stage</targetReference>
            </connector>
            <label>Group</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Objects_and_Fields_Requested.Outputs.BusinessOwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Owner_User_Approval_Stage</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Sponsor_Approval</name>
        <label>Request Sponsor Approval</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Admin_Group_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>Automatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sponsor_User_Record.Outputs.SponsorId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Executive_Sponsor_Approval</targetReference>
            </connector>
            <label>Automatic</label>
        </rules>
    </decisions>
    <description>When a Data Access Request form is submitted, as reflected by the status field, the orchestration runs.</description>
    <interviewLabel>Data Access Request Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Access Request Approval Process</label>
    <orchestratedStages>
        <name>Admin_Review_Data_Classification</name>
        <label>Admin Review of Data Classification</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Business_Owner</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Data_Objects_and_Fields_Requested</name>
            <actionName>Assign_Primary_Business_Owner_for_Approval</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Access_Administrator_Group.Outputs.AdminGroupName</elementReference>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Data Objects and Fields Requested</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>AdminApprovedStatus</name>
        <label>Admin Approved Status</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Step_1_of_Admin_Approved_Status</name>
            <actionName>Mark_Approved</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Access_Administrator_Group.Outputs.AdminGroupName</elementReference>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>AccessRequestDetails</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Step 1 of Admin Approved Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Business_Owner_Group_Approval_Stage</name>
        <label>Business Owner Group Approval Stage</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>AdminApprovedStatus</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Business_Owner_Group_Approval</name>
            <actionName>Business_Owner_Acceptance</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Data_Objects_and_Fields_Requested.Outputs.BusinessOwnerName</elementReference>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>AccessRequestDetails</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Business Owner Group Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Business_Owner_User_Approval_Stage</name>
        <label>Business Owner User Approval Stage</label>
        <locationX>314</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>AdminApprovedStatus</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Business_Owner_User_Approval</name>
            <actionName>Business_Owner_Acceptance</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Data_Objects_and_Fields_Requested.Outputs.BusinessOwnerName</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>AccessRequestDetails</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Business Owner User Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Executive_Sponsor_Approval</name>
        <label>Executive Sponsor Approval</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Admin_Group_Found</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Acknowledge_Sponsorship</name>
            <actionName>Acknowledge_Sponsorship</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Sponsor_User_Record.Outputs.sponsorUserName</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>AccessRequestDetails</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Acknowledge Sponsorship</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Get_Sponsor_User</name>
        <label>Get Sponsor User</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Request_Sponsor_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Sponsor_User_Record</name>
            <actionName>Get_Sponsor_By_UserName</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>EmailAddress</name>
                <value>
                    <elementReference>$Record.Executive_Sponsor__c</elementReference>
                </value>
            </inputParameters>
            <label>Get Sponsor User Record</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Get_Access_Administrator_Group</name>
            <actionName>Get_Access_Administrators_Group</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Get Access Administrator Group</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sponsor_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Executive_Sponsor__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Data_Access_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
