flows/Mark_Approved-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Final_Approval</name>
        <label>Final Approval</label>
        <locationX>957</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>UpdateStatusApproved.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateStatusApproved.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccessRequestDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accept</name>
        <choiceText>Accept</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>is_Approved</name>
        <label>is Approved</label>
        <locationX>828</locationX>
        <locationY>208</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sponsorship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accept</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Admin Acknowledges approvals</description>
    <interviewLabel>Mark Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Mark Approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Request</name>
        <label>Update Request</label>
        <locationX>1091</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <inputReference>UpdateStatusApproved</inputReference>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>1202</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Approved</name>
            <fieldText>&lt;p&gt;The request has been approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Acknowledge that a data access request has listed you as sponsor.</description>
        <name>SponsorDataAccessRequest</name>
        <label>Approve or Reject Data Access Request for Sponsorship</label>
        <locationX>716</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>is_Approved</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>&lt;p&gt;{!AccessRequestDetails.Owner:User.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!AccessRequestDetails.Owner:User.LastName} has submitted a Data Access Request.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The request relates to&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Project&lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!AccessRequestDetails.Project_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Summary&lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!AccessRequestDetails.Project_Summary__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Purpose&lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;:  {!AccessRequestDetails.Purpose__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Data&lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!AccessRequestDetails.Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sponsorship</name>
            <choiceReferences>Accept</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Please click &quot;Accept&quot; to indicate this request is approved.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>590</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SponsorDataAccessRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccessRequestDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Data_Access_Request__c</objectType>
    </variables>
    <variables>
        <name>UpdateStatusApproved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Data_Access_Request__c</objectType>
    </variables>
</Flow>
