flows/Update_Executive_Sponsor-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Data_Access_Request_Values</name>
        <label>Set Data Access Request Values</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>ExecutiveSponsorConfirmation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExecutiveSponsorConfirmation.Executive_Sponsor_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SponsorUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExecutiveSponsorConfirmation.Sponsor_Acknowledged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Data_Access_Request_Exec</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Executive Sponsor {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Executive Sponsor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Data_Access_Request_Exec</name>
        <label>Update Data Access Request Exec</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputReference>ExecutiveSponsorConfirmation</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Data_Access_Request_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExecutiveSponsorConfirmation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Data_Access_Request__c</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SponsorUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
